### Question
    #use us_births data to compute the following using np:
    #extract the year, gender and births column from the data
    #compute the aggregation of sum of total birth, sum of female birth and sum of male birth, mean and median
    #compute the maximum births and minimum births
    #indicate the gender with minimum birth and maximum birth
    #indicate the year with minimum birth and maximum birth

In [93]:
import numpy as np
import pandas as pd

In [155]:
birth = pd.read_csv('C:\\Users\\AYODEJI\\Desktop\\Numpy class\\Datasets - Copy\\us_births.csv')
one=birth.drop(["month","day"], axis = 1)
one

       year gender  births
0      1969      F    4046
1      1969      M    4440
2      1969      F    4454
3      1969      M    4548
4      1969      F    4548
...     ...    ...     ...
15542  2008      M  183219
15543  2008      F  158939
15544  2008      M  165468
15545  2008      F  173215
15546  2008      M  181235

[15547 rows x 3 columns]

In [42]:
print("sum of total birth:",np.sum( birth["births"]))

sum of total birth: 151774378

In [136]:
data = one[(one["gender"] == "F")]
data
print("sum of female birth is >>", data["births"].sum())
print("mean of female birth is >>", data["births"].mean())
print("median of female birth is >>", data["births"].median())

sum of female birth is >> 74035823
mean of female birth is >> 9521.067772633745
median of female birth is >> 4688.5

In [161]:
data1 = one[(one["gender"] == "M")]
data1
print("sum of male birth is >>", data1["births"].sum())
print("mean of male birth is >>", data1["births"].mean())
print("median of male birth is >>", data1["births"].median())

sum of male birth is >> 77738555
mean of male birth is >> 10003.674559258783
median of male birth is >> 4938.0

In [163]:
print("the highiest number of births within a year is >>",one["births"].max())
print("the lowestest number of births within a year is >>",one["births"].min())

the highiest number of births within a year is >> 199622
the lowestest number of births within a year is >> 1

In [152]:
print("the gender with the highiest birth is >>", one["gender"][one["births"].argmax()])
print("the gender with the lowest birth is >>", one["gender"][one["births"].argmin()])

the gender with the highiest birth is >> M
the gender with the lowest birth is >> F

In [154]:
print("the year with the highiest birth is >>", one["year"][one["births"].argmax()])
print("the year with the lowest birth is >>", one["year"][one["births"].argmin()])

the year with the highiest birth is >> 2007
the year with the lowest birth is >> 1975